@charset "UTF-8";

.rodape {
    padding: 96px 0;
}

.rodape__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2em;
    gap: 2em;
}

.rodape__textos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.rodape__textos__titulo {
    font-weight: 600;
    font-size: 2em;
}

.rodape__textos__span {
    color: var(--cinza-claro);
    font-size: 20px;
}

.rodape__cadastro {
    display: flex;
    gap: 8px;
    justify-content: center;
    width: 60%;
}

.rodape__input {
    padding: 12px 14px 12px 16px;
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    width: 35%;
}

.rodape__botao {
    background-color: var(--vermelho);
    color: var(--branco);
    padding: 12px 20px;
    border-radius: 8px;
    border: 1px solid black;
}

.rodape__botao:hover {
    cursor: pointer;
}

.rodape__direitos {
    color: var(--cinza-direitos);
}